*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height:80px;
    border-bottom: 1px solid #f6f6f6;

}
.logo{
    height: 45px;
    
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-left:4%;
}
.nav_bar{
    display:flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a{
    font-size:14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 0px;
}
.nav_bar a:hover{
    border-bottom: 2px solid rgba(255, 0, 106, 0.849);
}
.nav_bar a sup{
    color: firebrick;
    font-size:10px;
}
.searchbar{
     height:40px;
    min-width: 200px;
    width:30%;
    display: flex;
    align-items: center;

}
.search_icon{
    height: 20px;
    padding:10px;
    box-sizing: content-box;
    background-color:#f5f5f6;
    color:#282c3f;
    border-radius: 4px 0 0 4px;

}
.search_input{
    color:#696e79;
    background-color:#f5f5f6;
    display: flex;
    flex-grow: 1;
    height: 40px;
    border:0;
    border-radius: 0 4px 4px 0;
}
.action_bar{
    display:flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.banner_container{
    margin:40px 0px;
}
.banner_image{
    width:100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing:.15em;
    font-size:1.8em;
    margin: 50px 0px 10px 30px;
    max-height: 5em;
    font-weight:700;
    transition-property: all;
    transition-duration: 0.3s;
    
    transition-timing-function: ease-in;
    transition-delay: 0s;
    
}

.category_items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.sale_items:hover{
    width:300px;
    

    transition-property: all;
    transition-duration: 0.3s;
    
    transition-timing-function: ease-in;
    transition-delay: 0s;
    
    

}

.sale_items{
    width:250px;

}
.footer_container{
    padding:30px 0px 40px 0px;
    background-color: #fafbfc;
    display: flex;
    justify-content: space-evenly;
}
.footer_items{
    display: flex;
    flex-direction: column;
    
}
.footer_items a{
    text-decoration: none;
    font-size: 15px;
    color: #696b79;
    padding-bottom: 5px;
}
.footer_items h3{
    font-weight: 700px;
    color:#282c3f;
    margin-bottom:25px;
}
.copyright{
    margin:5px 0px 5px 550px;
    text-align: end;
    padding:15px;
}